:root {
    --background: #E7E7E7;
    --img-background: #C7BEBE;
    --ingredients : #3282F7;
    --appliances : #68D9A4;
    --ustensils : #ED6454;
} 

@font-face {
    font-family: "lato-regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "lato-bold";    
    font-weight: 700;
    src: url("./font/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "roboto-regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: "lato-regular";    
    margin: 20px;        
}

input {
    font: 400 1.125rem "lato-bold";
}

/*===========================/
/==        Header         ==/
/=========================*/

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.header__logo {    
    width: 268px;
    height: 93px;
}

.media__block {
    padding: 0;
}

.media__img {
    background-color: var(--img-background);    
    height: 178px;
}

/*===================================/
/==        Main search bar        ==/
/=================================*/

.search {
    background-color: var(--background);
    border-radius: 5px;
    display: flex;    
    margin-bottom: 20px;
    margin-top: 17px;       
    padding: 20px 20px;    
}

.search__button {
    font-size: 1.75rem;
}

.search__input {
    background-color: var(--background); 
    text-overflow: ellipsis;
    flex: 1;
}

/*===================================/
/==        tags bars              ==/
/=================================*/

#filters__all--appliances, #filters__all--ingredients, #filters__all--ustensils {
    display: none;
    cursor: pointer;
    color: #ffffff;    
    font-size: 1.125rem;
    margin-bottom: 10px;
}

#appliances__btn--up, #ingredients__btn--up, #ustensils__btn--up {
    display: none;
}

.filters {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;       
    margin-top: 20px;    
}

.filters__all {    
    width: 340px;
    margin-top: 20px;      
}

.filters__element {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 20px;
    padding: 24px 15px;  
    width: 340px;  
}

.filters__element--ingredients {
    background-color: var(--ingredients);
}

.filters__element--appliances {
    background-color: var(--appliances);
}

.filters__element--ustensils {
    background-color: var(--ustensils);
}

.filters__btn {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.filters__input {   
    width: 95%;
    color: #ffffff;       
}

.filters__input--ingredients {    
    background-color: var(--ingredients);    
}

.filters__input--appliances {    
    background-color: var(--appliances);    
}

.filters__input--ustensils {    
    background-color: var(--ustensils);    
}

.filters__input::placeholder {
    color: #ffffff;
}

.tag {     
    align-items: center;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    height: 37px;
    justify-content: space-around;
    margin-right: 15px;;
    margin-bottom: 15px;
    width: auto;
}

.tag__close {
    margin-right: 15px;
}

.tag__list {
    display: flex; 
    flex-wrap: wrap;
    width: 340px;       
}

.tag__text {
    margin: 15px;
}

.list--disabled {
    display: none;
}
.tag--appliances {
    background-color: var(--appliances);
}

.tag--ingredients {
    background-color: var(--ingredients);
}

.tag--ustensils {
    background-color: var(--ustensils);
}

/*===================================/
/==          Medias               ==/
/=================================*/

.media__content, .media__block, .media__cooking-timer, .media__heading {
    display: flex;
}

.media__content {    
    flex-wrap: wrap;
    justify-content: space-between;    
}

.media__block {    
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 20px; 
}

.media__cooking-timer--icon {
    margin-right: 5px;
}

.media__cooking-timer {
    flex-direction: row;    
    align-items: center;
    text-align: center; 
    justify-content: space-around; 
    font-size: 1.125rem;     
}

#media__error {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5rem;
    font-family: "roboto-regular";
    display: none;     
}

.media__heading {
   justify-content: space-between;
   margin-bottom: 20px;
}

.media__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--img-background);
}

.media__ingredients, .media__cooking-instruction {
    font-size: 0.75rem;     
}

.media__cooking-instruction {
    font-family: "roboto-regular";    
}

.media__ingredients {
    margin-bottom: 20px;    
}

.media__recipe {
    background-color: var(--background);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;        
    padding: 20px;
} 

.media__title {
    font-size: 1.125rem;
    line-height: 1.375rem;    
    width: 70%;
}
/*===================================/
/==           Queries             ==/
/=================================*/

/* Tablettes 768px */

@media only screen and (min-width: 768px) {
    body {
        width: 688px;
        margin: auto;
    }   

    #appliances__filter-list, #ingredients__filter-list, #ustensils__filter-list  {
        position: absolute;
        width: 190px;
        padding: 0 20px 20px 20px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #appliances__filter-list {
        background-color: var(--appliances);
        left: 255px;
    }

    #ingredients__filter-list {
        background-color: var(--ingredients);
        left: 40px;
    }
    
    #ustensils__filter-list  {
        background-color: var(--ustensils);
        left: 470px;
    }

    .filters {        
        justify-content: space-between;
        width: 620px;
    }

    .filters__element {        
        width: 190px;
    }   

    .media__block {
        width: 330px;               
    }     

    .media__ingredients {
        margin-right: 5px;
    }

    .media__ingredients, .media__cooking-instruction {
        width: 171px;
        height: 109px;
        overflow: hidden;
        text-overflow: ellipsis;       
    } 
    
    .filters__input {   
        width: 90%;               
    }

    .media__recipe {
        height: 190px;        
    }

    .media__task {
        display: flex; 
        overflow: hidden;
        text-overflow: ellipsis;         
    }    

    .tag__list {        
        width: 620px;       
    }
}

/* desktop 1024px */

@media only screen and (min-width: 1024px) {
    body {
        width: 850px;        
    }

    #appliances__filter-list {        
        left: 302px;
    }

    #ingredients__filter-list {        
        left: 87px;
    }
    
    #ustensils__filter-list  {        
        left: 517px;
    }

    .media__content {        
        justify-content: space-between;    
    }

    .media__block {
        width: 380px; 
        height: 364px;                             
    } 

    .media__img {
        height: 178px;
    }

    .tag__list {        
        width: 850px;       
    }

} 

/* desktop 1400px et + */

@media only screen and (min-width: 1440px) {
    body {
        width: 1240px;        
    }
    #appliances__filter-list {        
        left: 315px;
    }

    #ingredients__filter-list {        
        left: 100px;
    }
    
    #ustensils__filter-list  {        
        left: 530px;
    }
    
    .tag__list {        
        width: 1200px;       
    }
} 

@media only screen and (min-width: 1920px) {
    #appliances__filter-list {        
        left: 547px;
    }

    #ingredients__filter-list {        
        left: 332px;
    }
    
    #ustensils__filter-list  {        
        left: 762px;
    } 
}

@media only screen and (min-width: 2560px) {
    #appliances__filter-list {        
        left: 867px;
    }

    #ingredients__filter-list {        
        left: 652px;
    }
    
    #ustensils__filter-list  {        
        left: 1082px;
    } 
}
