:root {
    --background: #E7E7E7;
    --img-background: #C7BEBE;
    --ingredient : #3282F7;
    --device : #68D9A4;
    --ustensils : #ED6454;
} 

@font-face {
    font-family: "lato-regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "lato-bold";
    font-style: bold;
    font-weight: 700;
    src: url("./font/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "roboto-regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: "lato-regular";        
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header__logo {    
    width: 268px;
    height: 93px;
}

.media__block {
    padding: 0;
}

.media__img {
    background-color: var(--img-background);    
    height: 178px;
}

.search {
    /* width: 375px; */
}

.search__input {
    width: 100%;
}